.fintech-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  pointer-events: auto;
  position: relative;
  z-index: 10;
}

.sibling-nav {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  font-size: 0.9em;
}
