---
layout: default
---

{% comment %}
Generic root index layout.
Uses:
- page.root_path (string, required)
- page.title
- page.description (optional)
{% endcomment %}

<!-- <header class="section-header">
  <h2>{{ page.title }}</h2>
</header> -->

{% assign roots = site.pages
  | where_exp: "p", "p.url contains page.root_path"
  | where_exp: "p", "p.url != page.url"
  | sort: "frequency_count"
  | reverse %}

<table class="root-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Verb</th>
      <th>Root</th>
      <th>Form</th>
      <th>Frequency</th>
      <th>Translation</th>
    </tr>
  </thead>
  <tbody>
    {% for r in roots %}
      <tr>
        <td>{{ forloop.index }}</td>

        <td class="arabic">
          <a href="{{ r.url }}">{{ r.arabic_verb }}</a>
        </td>

        <td class="arabic">
          {{ r.arabic_root }}
        </td>

        <td>{{ r.form }}</td>

        <td>{{ r.frequency_count }}</td>

        <td>
          <a href="https://corpus.quran.com/search.jsp?q=pos%3Av+%28I%29+root%3Aqwl" target="_blank" rel="noopener noreferrer">
            {{ r.meaning }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
